
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
  color: var(--text);
}

/* Contenedor general del sistema */
.container-app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Tarjetas generales */
.card {
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
  padding: 20px;
}

/* Botón primario reusable */
.btn-primary {
  background: var(--primary);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  transition: var(--transition);
}

.btn-primary:hover {
  background: #db2777;
}

/* Ocultar scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}